body {
    margin: 0 auto;
    font-family: "Times New Roman"
}

.header {
    display: flex;
    height: 690px
}

.header__content {
    background-image: url("../img/cows.jpg");
    background-size: cover;
    width: 1366px;
    margin: 0 auto
}

.header__nav {
    display: flex;
    width: 960px;
    height: 75px;
    align-items: center;
    margin: 140px auto
}

.header__logo {
    flex: 0 0 25%
}

.header__item {
    text-decoration: none;
    width: 180px;
    text-align: center
}

.header__item a {
    color: #323232;
    text-decoration: none;
    font-size: 1.8rem
}

.header__item_active a {
    color: #96191e
}

.products {
    height: 585px;
    display: flex
}

.products__content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

.products__block1 {
    margin-top: 60px;
    flex: 0 0 180px
}

.products__block2 {
    margin-top: -70px;
    flex: 0 0 650px;
    height: 570px
}

.products__menu {
    width: 170px;
    height: 380px;
    display: flex;
    justify-content: space-between;
    flex-direction: column
}

.products__item {
    text-decoration: none;
    color: #313131;
    font-size: 1.3rem
}

.products__item:hover {
    text-decoration: underline;
}

.products__item-active {
    color: #96191e
}

.products__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 560px
}

.products__image {
    display: flex
}

.products__image img {
    height: 265px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px
}

.products__text {
    border-radius: 15px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    padding: 40px 30px;
    font-size: 1.3rem;
    height: 185px;
    width: 140px;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(7, 7, 13, 0.6334909) 0%, rgba(0, 0, 0, 0) 100%)
}

.news {
    height: 650px;
    background-color: #faf5e6
}

.news__content {
    width: 960px;
    margin: 0 auto;
    padding-top: 75px
}

.news__block {
    width: 960px
}

.news__block-block1 {
    display: flex;
    font-size: 2.5rem;
    justify-content: space-between
}

.news__block-block2 {
    margin-top: 75px;
    display: flex;
    justify-content: space-between
}

.news__title {
    color: #333333
}

.news__subtitle a {
    color: #96191e;
    text-decoration: none;
}

.news__text {
    border-radius: 15px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    font-size: 2rem;
    background-image: linear-gradient(0deg, rgba(7, 7, 13, 0.6334909) 0%, rgba(0, 0, 0, 0) 100%)
}

.news__text a {
    color: #ffffff;
    text-decoration: none;
}

.news__text a:hover {
    text-decoration: underline;
}

.news__text-vertical {
    width: 170px;
    height: 260px
}

.news__text-horizontal {
    width: 360px;
    height: 90px
}

.news__image img {
    border-radius: 15px;
    object-fit: cover
}

.news__image-vertical {
    display: flex
}

.news__image-vertical img {
    width: 230px;
    height: 320px
}

.news__image-horizontal {
    display: flex
}

.news__image-horizontal img {
    width: 420px;
    height: 150px
}

.news__images {
    display: flex;
    justify-content: space-between
}

.news__images-block1 {
    width: 500px;
    height: 320px
}

.news__images-block2 {
    width: 420px;
    height: 320px;
    flex-direction: column
}

.footer {
    height: 170px;
    display: flex;
    justify-content: center;
    background: #545c65
}

.footer__text {
    width: 960px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem
}

.footer__text p {
    width: 830px
}